 <div class="header_container">
     <div class="header">
         <div id="nav_buttons" >
             <div id="logo"><a  href="/" ><img  src="/static/image/logo1.jpg" alt="logo" width="120px" height="120px"></a></div>
             <div id="nav_but_1"><a href="/list"> <h2>Show all questions</h2> </a> </div>
             <div id="nav_but_2"><a href="/question/search"> <h2>Search</h2 ></a> </div>
             <div id="nav_but_3"><a href="/add-question"> <h2>Ask Something from Máté</h2> </a> </div>

             <div id="logo"><a  href="/" ><img  src="/static/image/logo1.jpg" alt="logo" width="120px" height="120px"></a></div>
         </div>
     </div>
     <div class="user_navbar">
         <div><a href="/register"><button>Register</button></a></div>
     </div>
</div>