<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Login Page - Ask Máté</title>
        <link rel="stylesheet" href="/static/css/design.css">

    </head>
    <body>

            <div class="login_wrap">
                <form class="forms" action="/auth/login" method="post">
                    <label>E-mail</label>
                    <input type="email" name="email" placeholder="Write your email"><br>
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Write your password"><br>
                    <button type="submit">Login</button>
                    <br>
                    <div style="align-self: center"><a href="/auth/register"><button type="button">Register</button></a></div>
                </form>

            </div>
    {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <div class="flash_container">
                            <div class="flash_message">{{msg}}</div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
    </body>
</html>