{% extends 'layout.html' %}
{% block page_title %}
Register
{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p p style="color:#FF0000">{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="form_wrap">
        <form class="forms" action="/register" method="post">

            <label>Username</label>
            <input type="text" name="username" placeholder="Write your username"><br>
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Write your email"><br>
            <label>Password</label>
            <input type="password" name="password" placeholder="Write your password"><br>
            <button type="submit">Register</button>
        </form>
    </div>
{% endblock %}
