{% extends "layout.html" %}

    {% block page_title %}
        Questions
    {% endblock %}

    {% block title %}
        {{ title }}
    {% endblock %}


    {%  block content %}
        <div class="form_wrap">
            <form class="form_wrap" action="/list" method="POST">
                <select name="order_by">
                    <option value="submission_time">Time</option>
                    <option value="vote_number">Vote</option>
                    <option value="title">Title</option>
                </select>
                 <select name="order_direction">
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
                <button type="submit"> Order</button>
            </form>
        </div>

    {% if questions %}
        {% for question in questions %}
             <div class="question_container">

                <div class="question">

                    <div class="question_header">

                            <div class="vote_view">
                                <div>Title: {{ question.title }}</div>
                                <div>Created by: {{ question.user_name }}</div>
                                <div>Asked at: {{ question.submission_time.strftime('%m-%d %H:%M') }}</div>
                                <div style="display: flex; gap:20px">
                                    <div >Vote: {{ question.vote_number }}</div>
                                    <div >View: {{ question.view_number }}</div>
                                </div>
                            </div>

                        <div style="align-self: center"><a href="/question/{{ question.id }}"><button>Check out the Question!</button></a></div>
                    </div>

                    <div class="question_body">
                        <div><label>Message: <br></label>{{ question.message }}</div>
                        <div>
                            {% if question.image %}
                            <img class="image" src="/static/image/{{ question.image }}" width="200px" height="200px"  alt="">
                            {% endif %}
                        </div>
                    </div>
                    <div class="question_footer">
                        <div class="btn">
                            <div ><a href="/question/{{ question.id }}/vote/up"><button>&uarr;</button></a></div>
                            <div><a href="/question/{{ question.id }}/vote/down"><button>&darr;</button></a></div>
                        </div>
                        <div class="tag">
                            {% if tags[loop.index0] %}
                                Tags:
                                {% for tag in tags[loop.index0] %}
                                    #{{ tag.name }}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="btn">
                            <div><a href="/question/{{ question.id }}/new-comment"><button>Add new Comment</button></a></div>
                            <div><a href='/add_answer/{{ question.id }}'><button>Add new answer</button></a></div>
                            <div><a href='/question/{{ question.id }}/edit'><button>Edit question</button></a></div>
                            <div><a href='/delete/question/{{ question.id }}'><button>Delete question</button></a></div>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}




        {% else %}
            <div class="form_wrap">
                 <div class="forms">What a Luck Mate!!! You are the first to ask!!!</div>
            </div>

        {% endif %}
    {% endblock %}